.pagination li .activehehe {
    background: #00afef;
    color: #fff;
}

.pagination {
    border: 1px solid #00afef;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    border-radius: 2px;
}

.pagination li button {
    background: none;
    border: 1px solid #d1d1d1;
}

.pagination li :hover {
    background: #00afef;
    color: #fff;
}