h3 {
    margin-left: 15px
}

.fileInput {
    border-bottom: 4px solid lightgray;
    border-right: 4px solid lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}

.imgPreview {
    text-align: center;
    margin: 5px 15px 10px 30px;
    min-width: 250px;
    min-height: 250px;
    height: auto;
    width: auto;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    align-items: center;
    z-index: 2;
}

.imgPreview img {
    max-width: 399px;
    max-height: 399px;
    min-width: 200px;
    min-width: 200px;
    height: auto;
    width: auto;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.previewText {
    width: 100%;
    margin-top: 20px;
}

.submitButton,
.closeButton {
    padding: 12px;
    background: transparent;
    border: none;
    font-size: 13px;
    cursor: pointer;
    color: #00af;
}

.submitButton:hover,
.closeButton:hover {
    border-radius: 50%;
    background: rgb(0, 0, 0, 0.19);
    color: #ffffff;
}

.centerText {
    text-align: center;
    width: 500px;
}

.MuiDialogTitle-root h2 {
    width: -webkit-fill-available;
    border-bottom: 1px solid #d1d1d1;
}

.btnChoosePhoto {
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
    text-align: center;
}

.btnChoosePhoto:hover {
    color: #00af;
}